<div class="row">
  <div class="col-md-8">
    <h2 class="title">
      Yuxi Courses
      <button type="button"
              class="btn btn-success" aria-label="Left Align"
              title="Add a new Course" 
              (click)="newCourse()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      </button>
    </h2>
  </div>
  <div class="col-md-4">
    <h3 class="title">Today: {{ currentDate | date: 'yyyy-MM-dd' }}</h3>
    </div>
</div>

<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th (click)="sortBy('name')">Name</th>
      <th (click)="sortBy('duration')">Hours</th>
      <th (click)="sortBy('startingDate')">Start Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses"
        (click)="onSelect(course)">
      <td title="ID: {{ course.id }}">{{ course.name }}</td>
      <td>{{ course.duration }}</td>
      <td>
        {{ course.startingDate }}
        <base-state [date]="course.startingDate"></base-state>
      </td>
    </tr>
  </tbody>
</table>