<h2 class="title">
  Teachers
  <button type="button"
          class="btn btn-success" aria-label="Left Align" 
          (click)="newTeacher()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
  </button>
</h2>

<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers"
        (click)="onSelect(teacher)">
      <td title="ID: {{ teacher.id }}">{{ teacher.name }}</td>
      <td>{{ teacher.lastName }}</td>
    </tr>
  </tbody>
</table>